<!-- Main layout -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notepad</title>
    <link rel="shortcut icon" href="../notepad.png"> <!-- Notepad Icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-- Bootstrap CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- jQuery CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> <!-- AngularJS CDN -->
    <meta name="description" content="Notepad">
    <meta name="keywords" content="Notepad,note,type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            margin-top: 1%; /* Top margin*/
        }
    </style>
    <link rel="stylesheet" href="css/style.css"> <!-- Styles -->
    <!-- imported fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito+Sans" rel="stylesheet">
    <!--
    font-family: 'Lobster', cursive;
    font-family: 'Nunito Sans', sans-serif;
-->
</head>
<body>
<script> // Angular module for header and footer year
    var date=angular.module('date',[]);
    date.controller('myCtrl',function ($scope) {
        $scope.year=new Date().getFullYear();
        $scope.progress="100%";
    })
</script>

<div class="container" ng-app="date" ng-controller="myCtrl">
    <div class="container">
        <div class="header clearfix">

            <nav>
                <ul class="nav nav-pills pull-right">
                    {{#if user}} <!-- if User login then show -->
                        <li role="presentation"><a href="/">Notepad</a></li>
                        <li role="presentation"><a href="/users/logout">Logout</a></li>
                    {{else}} <!-- if User logout then show -->
                        <li role="presentation" ><a href="/users/login">Login</a></li>
                        <li role="presentation"><a href="/users/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>
        <h2 class="text-muted" style="font-family: 'Nunito Sans', sans-serif;">Notepad <span ng-bind="year"></span></h2>
    </div>
    <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
        <style>
            .fade-carousel {
                position: relative;
                height: 150px;
            }
            .fade-carousel .carousel-inner .item {
                height: 150px;
            }
            .fade-carousel .carousel-indicators > li {
                margin: 0 2px;
                background-color: #f39c12;
                border-color: #f39c12;
                opacity: .1;
            }
            .fade-carousel .carousel-indicators > li.active {
                width: 10px;
                height: 10px;
                opacity: 0.4;
            }

            /********************************/
            /*          Hero Headers        */
            /********************************/
            .hero {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 3;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 1px 1px 0 rgba(0,0,0,.75);
                -webkit-transform: translate3d(-50%,-50%,0);
                -moz-transform: translate3d(-50%,-50%,0);
                -ms-transform: translate3d(-50%,-50%,0);
                -o-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
            }
            .hero h1 {
                font-size: 6em;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }

            .fade-carousel .carousel-inner .item .hero {
                opacity: 1;
                -webkit-transition: 2s all ease-in-out .1s;
                -moz-transition: 2s all ease-in-out .1s;
                -ms-transition: 2s all ease-in-out .1s;
                -o-transition: 2s all ease-in-out .1s;
                transition: 2s all ease-in-out .1s;
            }
            .fade-carousel .carousel-inner .item.active .hero {
                opacity: 1;
                -webkit-transition: 2s all ease-in-out .1s;
                -moz-transition: 2s all ease-in-out .1s;
                -ms-transition: 2s all ease-in-out .1s;
                -o-transition: 2s all ease-in-out .1s;
                transition: 2s all ease-in-out .1s;
            }

            /********************************/
            /*            Overlay           */
            /********************************/
            .overlay {
                position: absolute;
                width: 100%;
                height: 150px;
                z-index: 2;
                background-color: #080d15;
                opacity: .7;
            }

            /********************************/
            /*          Custom Buttons      */
            /********************************/
            .btn.btn-lg {padding: 10px 40px;}
            .btn.btn-hero,
            .btn.btn-hero:hover,
            .btn.btn-hero:focus {
                color: #f5f5f5;
                background-color: #1abc9c;
                border-color: #1abc9c;
                outline: none;
                margin: 20px auto;
            }

            /********************************/
            /*       Slides backgrounds     */
            /********************************/
            .fade-carousel .slides .slide-1,
            .fade-carousel .slides .slide-2,
            .fade-carousel .slides .slide-3 {
                height: 150px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            .fade-carousel .slides .slide-1 {
                background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
            }
            .fade-carousel .slides .slide-2 {
                background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
            }
            .fade-carousel .slides .slide-3 {
                background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
            }

            /********************************/
            /*          Media Queries       */
            /********************************/
            @media screen and (min-width: 980px){
                .hero { width: 980px; }
            }
            @media screen and (max-width: 640px){
                .hero h1 { font-size: 4em; }
            }
        </style>
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1"></li>
                <li data-target="#bs-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>We are creative</h1>
                            <h3>Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg" role="button">See all features</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>We are smart</h1>
                            <h3>Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg" role="button">See all features</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>We are amazing</h1>
                            <h3>Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg" role="button">See all features</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        {{# if user}} <!-- if User login then load content 12 columns -->
        {{{body}}}
        {{else if flag}}
            <!-- if User not login then load content 4 columns and ridebar on 8 columns-->
                {{{body}}}


            {{else}}
            {{{body}}}
            {{/if}}
    </div>
    <br>
    <footer class="footer">
        <p>&copy; <span ng-bind="year"></span> Notepad, Inc.</p> <!-- Signature -->
    </footer>

</div> <!-- /container -->
</body>
</html>